@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* dashboar */

.dashboar
{
    height: 100vh;
    background-color:#fff;
    display: flex;
}
.part_one
{
 flex:2;
 padding: 1.5rem;
}
/* sidebar */
.sidebar
{
  height: 100%;
  width:10rem;
  background-color: #332a7c;
  border:1px solid none;
  border-radius: 25px;
  text-align: center;
  padding: 2rem;
}

.logo_part a
{
    text-decoration:none;
    color:#fff ;
    font-size: 2rem;
    font-weight: 600;
}

.logo_part a
{
    text-decoration:none;
    color:#fff ;
    font-size: 2rem;
    font-weight: 600;
}

.fisrt_ul
{
margin-top: 15rem;
}

ul li
{
   list-style: none;
   margin-top: 1rem;
}

.fisrt_ul a
{
    font-size: 3rem;
}

.icon
{
    color: #fff;
    font-size: 4rem;
}


/* main_part */

.main
{
    min-height:20rem;
    width: 100%;
    padding: 2rem;
  

}

.wellcome
{
    height: 17rem;
    width: 95%;
    background-color: #ffa000;
    border-radius: 50px;
    padding: 3rem;
}

.wellcome h2
{
    font-size: 4rem;
    text-align: left;
    color: #fff;
    margin-top: 2rem;
}


.wellcome p
{
   font-size: 2rem;
   color: #fff;
}

.dates
{
    width: 95%;
    height: 7rem;
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
    color:#332a7c;
}

.chevron_span
{
    background-color: #f45564;
    color: #fff;
    padding:1rem;
    border-radius:25px ;
    font-size: 1.5rem;
    width: 8rem;
    height: 2rem;
}

.calendar 
{
    width: 95%;
    height: 15rem;
    border-top: 1px solid  rgb(247, 238, 238) ;
    border-bottom: 1px solid  rgb(247, 238, 238);
    text-align: center;
    padding-top: 3rem;
}

.calendar h3
{
  color: #44407b;  
}

.calendar p
{
  color: #44407b; 
  font-size: 1.5rem;
  font-weight: lighter; 
}

.calendar_span_twoo
{
 
 height: 1rem;
 width: 1rem;
 background-color: royalblue;
 border-radius: 50px;
 margin: 0 auto;

}

.calendar_span
{
    background-color: rgb(247, 238, 238);
    border-radius: 7px;
    padding: 0.3rem;
    width: 10rem;
    height:4rem ;
    font-size: 1.5rem;
}

.calendar ul{
    display: flex;
    justify-content: space-between;
}

.calendar ul li
{
    text-align: center;
    transition:  .3s ease-in-out;
    padding-top: 1rem;
}

.calendar ul li:hover
{
    background-color: salmon;
    height: 10rem;
    width:5rem;
    border-radius: 50px;
    text-align: center;
    transition: all .3s;
    box-shadow: 0px 6px 14px 0px rgba(245,177,240,1);
}

/* report_part */

.report_part
{   height: 30rem;
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}


.report_part ul li
{
   border: none;
}
.active
{
    background-color: #fff;
}



.part_two
{
 flex:1;
 background-color:grey;
}



